* {
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    justify-content: center;
}
.row {
    width: 500px;
}
.header {
    padding: 5px 20px;
    background-color: black;
    width: auto;
    color: white;
}
.feedHeader {
    margin: 20px;
    background-color: white;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatarCard {
    border: 2px solid black;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.feed {
    margin-left: 20px;
    width: 500px;
    height: 400px;
}
.page{
    display: flex;
}
.person {
    padding: 15px;
    border: 2px solid black;
    width: auto;
    height: 30%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}
.img {
    width: 60%;
}
.james {
    font-size: larger;
    margin-bottom: 10px;
}
.btn {
    background-color: gold;
    padding: 5px 15px;
    box-shadow: 2px 2px;
}
.likes1, .likes2, .likes3 {
    margin-left: 100px;
}